<div class='row'>
    <div class='well col-md-4 col-md-offset-4 center'>
    <% if @results.nil? %>
      <p class='center'>No results found.</p>
    <% else %>
    <h1 class='center'>Results:</h1>
    <br>
      <% @results.each do |result| %>
       <a href='#' class='searchresults center'>
        <%= result["original_title"] %> - <%= result["release_date"] %>
       </a>
       <br>
      <% end %>
    <% end %>
    <br>
    <%= link_to "Search Again", "search", class: 'btn btn-success' %>
  </div>
</div>