<div class="row">
  <h1 class='center'>Find a New Movie</h1>
  <div class='well col-md-6 col-md-offset-3'>
    <%= form_tag({controller: "movies", action: "search"}, class: "form-group col-md-6 col-md-offset-3") do %>
      <%= label_tag(:search, "Search for:") %>
      <span class='searchbar'>
        <%= text_field_tag :search, nil, class: "form-control center" %>
      </span>
      <br>
      <%= submit_tag("Search", class: "btn btn-success col-md-2 col-md-offset-5") %>
    <% end %>
  </div>
</div>
