/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align:center;
}

.movie-header {
  text-align: center;
  font-size: 16px;
}

.movie-listing {
  font-size: 16px;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #659654;
  color: #eee;
}

.navbar-inverse {
  border-radius: 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.well {
  color: #eee;
  background-color: #555;
}

.btn {
  border-radius: 1px;
}

.login {
  color: #222;
}

a.login-links,
a.login-links:active,
a.login-links:visited {
  color: #eee;
  text-decoration: none;
}

a.login-links:hover {
  color: #eee;
  text-decoration: underline;
}